.content {
    width: 460px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #f4f4f4;
}

.content > div {
    display: inline-block;
}

.content .photo {
    width: 312px;
    padding-right: 10px;
    box-sizing: inherit;    
    text-align: right;
    border-right: 2px solid #651a1a;
}

.content .photo p {
    margin: 6px 0 0;
}

.content .title {
    width: 128px;
    vertical-align: top;
}

.content .title h3 {
    margin: 0;
    padding-left: 10px;
    font-weight: 500;
}